.container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.title{
    text-transform: uppercase;
    font-weight: bold;
}
.menu{
    display: flex;
    align-items: center;
    gap: 30px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
}

.input {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;

}

.icons {
    display: flex;
    gap: 20px;
}